<div class="container mx-auto">
  <h2 class="text-4xl mb-4 font-medium text-center text-white">Create Account</h2>

  <div class="bg-white mb-4 border-blue-700 text-gray-700 border-2 rounded p-8 shadow-lg">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'bg-gray-100 focus:bg-white focus:outline-none focus:border-orange-600 border-2 border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal' %>
      </div>

      <div class="mb-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'bg-gray-100 focus:bg-white focus:outline-none focus:border-orange-600 border-2 border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal' %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'bg-gray-100 focus:bg-white focus:outline-none focus:border-orange-600 border-2 border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal' %>
      </div>

      <div class="actions">
        <button class="bg-blue-600 p-2 px-5 text-white text-lg rounded">Sign Up</button>
      </div>
    <% end %>
  </div>

  <div class="text-sm text-center">
    <p>Already have an account? <%= link_to "Log in", new_session_path(resource_name), class: 'text-white' %></p>
  </div>
</div>
